<%= form_tag 'orders', method: :get do %>
  <fieldset>
    <legend>Pilih Sales Order</legend>
    <div class="form-horizontal">
      <div class="form-group">
        <%= label_tag 'order_id', 'No. Order', class: 'col-md-2 control-label' %>
        <div class="col-md-4">
          <%= select_tag 'order_id', options_for_select(@presenter.order_select, params[:id]), include_blank: 'Please select', class: 'form-control', onchange: 'changeOrder()' %>
        </div>
      </div>
    </div>
  </fieldset>
<% end %>
