<% provide(:title, 'Orders') %>
<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">Sales Order</h1>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render partial: 'form_select', locals: { res: @presenter, onchange: 'changeOrder()' } %>
      </div>
    </div>
  </div>
</div>
