<nav class="navbar navbar-inverse navbar-embossed">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Dodol Picnic</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li id="dlabel" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Penjualan<span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="dlabel">
            <li><a href="<%= new_order_path %>">Buat Sales Order</a></li>
            <li><a href="<%= orders_path %>">Sales Order</a></li>
            <li><a href="<%= shipments_path %>">Rencana Pengiriman Barang</a></li>
          </ul>
        </li>
        <li><a href="#">Gudang Barang Jadi</a></li>
        <li><a href="#">Shipping</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Pengaturan</a></li>
        <li><%= link_to 'Log Out', user_session_path, method: :delete %></li>
      </ul>
    </div>
  </div>
</nav>
