<% provide(:title, 'Shipment') %>
<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">Rencana Pengiriman Barang</h1>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render partial: 'order_select', locals: { res: @presenter } %>
      </div>
    </div>
  </div>
</div>

